<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>About Us</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename = '/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename = '/css/modern-business.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-white">
      <a class="navbar-brand" href="/" style="font-size: 30px ; padding-top: 15px"> <img src="{{ url_for('static',filename = 'Logo.png') }}" width="60" height="50" class="d-inline-block align-top" alt="">FoodView</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Restaurants
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                  <a class="dropdown-item" href="/bestofmumbai">Best of Mumbai</a>
                  <a class="dropdown-item" href="/corporate">Corporate Favourites</a>
                  <a class="dropdown-item" href="/alldaycafe">All Day Cafe</a>
                  <a class="dropdown-item" href="/streetsavy">Street Savy</a>
                  <a class="dropdown-item" href="/oldisgold">Old is Gold</a>
                  <a class="dropdown-item" href="/kebabs">Kebabs and Tandoor</a>
                </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/login_page">Log in</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signup_page">Sign Up</a>
                </li>

            </ul>
          </div>

      </nav>


  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About Us
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="{{ url_for('static', filename='about-bg.jpg') }}" alt="">
      </div>
      <div class="col-lg-6">
        <h2>About FoodView</h2>
        <p>We're a group of Foodies , running around exploring the city to find the best for you.</p>
        <p>We provide reviews of restaurants from the foodies for the foodies!</p>

      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>Our Team</h2>

    <div class="row">
      <div class="col-lg-3 mb-3">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{{ url_for('static', filename='pavan sapkale.jpg') }}" alt="">
          <div class="card-body">
            <h4 class="card-title">Pavan Sapkale</h4>
            <h6 class="card-subtitle mb-2 text-muted">Team Member</h6>
            <p class="card-text">Passionate about food in general .</p>
          </div>
          <div class="card-footer">
            <a href="#">pavansapkale66@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-3">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{{ url_for('static', filename='mahesh ghagre.jpg') }}" alt="">
          <div class="card-body">
            <h4 class="card-title">Mahesh Ghagre</h4>
            <h6 class="card-subtitle mb-2 text-muted">Team Member</h6>
            <p class="card-text">Swears by chicken , loves the buffet </p>
          </div>
          <div class="card-footer">
            <a href="#">mahimatrix31@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-3">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{{ url_for('static', filename='rehman shaikh.jpg') }}" alt="">
          <div class="card-body">
            <h4 class="card-title">Rehman Shaikh</h4>
            <h6 class="card-subtitle mb-2 text-muted">Team Member</h6>
            <p class="card-text">He is the goto guy for city's hidden food spots , a food explorer. </p>
          </div>
          <div class="card-footer">
            <a href="#">rehman.66850@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-3">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{{ url_for('static', filename='akram shaikh.jpg') }}" alt="">
          <div class="card-body">
            <h4 class="card-title">Akram Shaikh</h4>
            <h6 class="card-subtitle mb-2 text-muted">Team Member</h6>
            <p class="card-text">love chinese cuisie and mughlai food.</p>
          </div>
          <div class="card-footer">
            <a href="#">mohdashaikh66200gmail.com</a>
          </div>
        </div>
      </div>

    </div>

    <!-- /.row -->

    <!-- Our Customers -->
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; FoodView 2022</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static',filename = 'vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>
