<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>All Day Cafe</title>

<!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename = 'css/modern-business.css') }}" rel="stylesheet">


</head>

<body>

   <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-white">
    <a class="navbar-brand" href="index.html" style="font-size: 30px ; padding-top: 15px"> <img src="{{ url_for('static', filename = 'Logo.png') }}" width="60" height="50" class="d-inline-block align-top" alt="">FoodView</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Restaurants
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="/bestofmumbai">Best of Mumbai</a>
                <a class="dropdown-item" href="/corporate">Corporate Favourites</a>
                <a class="dropdown-item" href="/alldaycafe">All Day Cafe</a>
                <a class="dropdown-item" href="/streetsavy">Street Savy</a>
                <a class="dropdown-item" href="/oldisgold">Old is Gold</a>
                <a class="dropdown-item" href="/kebabs">Kebabs and Tandoor</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{username}}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </li>
          </ul>
        </div>

    </nav>
    <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">All Day Cafes

    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">All Day Cafes</li>
    </ol>
    {% for row in rows %}
    <!-- Project One -->
    <div class="row">
      <div class="col-md-7">

          <img class="img-fluid rounded mb-3 mb-md-0" src="{{ 'static/{}'.format(row['image_name']) }}" alt="">

      </div>
      <div class="col-md-5">
        <h3>{{row["Restaurant Name"]}}</h3>
        <p>{{row["Address"]}}</p>
        <p>{{row["Restaurant text"]}}</p>
        <form action="/show_info" method="POST"><button type="submit" name="res_name" class=" btn btn-outline-info" value="{{row['Restaurant Name']}}">View Restaurant</button></form>
        <span class="glyphicon glyphicon-chevron-right"></span>
      </form>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    {% endfor %}


    <!-- Pagination -->


  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; FoodView 2022</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static',filename = 'vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>
